html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}


body {
    background: #E1D4C9;
    font-family: 'Inter', sans-serif;
    text-decoration: #403F3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    /* font-family: 'Manrope', sans-serif; */
}

a{
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
   
}
/* ---------------------------Шапка */
.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav {
    font-weight: 600;
}
.menu-item:not(:last-child) {
    margin-right: 40px;
}

.hero {
display: flex;
flex-direction: column;
background: url(..//img/img-hero.jpg);
border-radius: 40px;
padding: 100px;
}

.hero_offer{
max-width: 530px;
}


.text1 {
color: #E1D4C9;
font-size: 72px;
font-weight: 600;
line-height: 105%;
padding-bottom: 40px;
}

span {
color: #B0907A;
font-style: italic;
}

.text2 {
color: #E1D4C9;
padding-bottom: 40px;
}

.button{
display: inline-flex;
box-sizing:border-box;
border-radius: 100px;
background:  #E1D4C9;
padding: 20px 78px;
}

.btn_text{
font-weight: 600;
}

/* ------------------------СЕКЦИЯ ЛЮБИМЫЙ КОФЕ */
.favorite-coffee {
    padding: 100px 0px;
}
.favorite_inner {
    display: flex;
    flex-direction: column;
}
.coffee_title {
    text-align: center;;
    font-size: 60px;
    font-weight: 600;
    line-height: 125%; /* 75px */
}
.coffee_title span{
    color: #B0907A;
}
.inner_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
    
}
.btn1 {
}

.coffee_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.img_coffee {
    padding-bottom: 20px;
}
.coffee_text h1,h3{
font-size: 24px;
font-weight: 600;
line-height: 125%; /* 30px */
}
.coffee_text h2{
font-size: 16px;
font-weight: 400;
line-height: 150%; /* 24px */
padding: 16px 0px;
}
.btn2 {
}

.controls{
    display: flex;
    flex-direction: row;
    width: 144px;
    justify-content: space-between;
    padding-top: 40px;
}


.control{
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background: #C1B6AD;
}
.control:first-child{
   background: #665F55;
}


/* -----------------------------------О НАС */
.about {
    padding-bottom: 100px;
}
.container {
}
.about_inner {
}
.about_title {
justify-content: space-between;
font-size: 60px;
font-weight: 600;
line-height: 125%; /* 75px */

font-family: Inter;
}
.about_images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -20px;
}
.images_colomn {
    
}
.box1 {
    background-size: cover;
    width: 660px;
    height: 590px;
    border-radius: 20px;
    padding: 20px;

}
.box2 {
    background-size: cover;
    width: 660px;
    height: 430px;
    border-radius: 20px;
    padding: 20px;
}


/* ------------------------------ПРИЛОЖЕНИЕ */
.mobile_app {
}
.container {
}
.mobile_app_inner {
display: flex;
}

.text_block {
display: flex;
flex-direction: column;
align-items: flex-start;
padding-right: 100px;
}
.mobile_text h1{
font-size: 60px;
font-weight: 600;
line-height: 125%;
}

.mobile_text p {
    margin-top: 40px;
    margin-bottom: 40px;
}
    

.buttons {
    display: flex;
}
.mobile_button {
    display: flex;
    margin-left: 20px;
}
.mobile_text_button h1 {
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 14px */
}

.mobile_text_button h2 {
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 24px */
}
.txt {
}
.btn_img {
}
.mobile_button2 {
}
.mobile_picture {
}

/* -------------------------------Footer */

.footer {
    margin-top: 100px;
    margin-bottom: 40px;
}
.container {
}
.footer__inner {
    display: flex;
    background: #665F55;
    border-radius: 40px;
    padding: 100px;
}
.left_blok {
    margin-right: 100px;
}
.left_blok_title {
color: #B0907A;
font-size: 60px;
font-style: italic;
font-weight: 600;
line-height: 125%;
margin-bottom: 40px;
}
.left_blok_title h1{
font-style: normal;
color: #E1D4C9;
}
.left_blok_button {
}
.right_blok {
 color: #E1D4C9;
 display: flex;
 justify-content:space-evenly;
 flex-direction: column;
}
.right_blok_text {
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 125%; /* 30px */
margin-bottom: 40px;
}
.right_blok_location {
}
.right_blok_phone {
    margin: 16px 0px;
}
.right_blok_watch {
}